<div class="col">
  <form class="mt-3 mx-auto p-2 rounded row justify-content-end">
    <div class="d-flex align-items-baseline pr-5">
      <label class="text-right pr-2">
        <strong>{{ 'services' | translate | titlecase }}:</strong>
      </label>
      <sector51-combo class="w-rem-10"
        [items]="allServices" [itemToText]="'name'" [itemToValue]="'name'" (onchange)="service = $event">
      </sector51-combo>
      <div class="d-inline position-relative">
        <i class="fa fa-fw fa-plus-square fa-2x ml-2 text-success position-absolute pointer"
          style="top: -1.35rem;" (click)="addService();"></i>
      </div>
    </div>
  </form>

  <hr>
  <p-table [value]="userServices" [resizableColumns]="true" selectionMode="single" [(selection)]="userService" sortMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center" width="50">№</th>
        <th class="text-center" pResizableColumn [pSortableColumn] width="200">Name</th>
        <th class="text-center" pResizableColumn [pSortableColumn]="'dtBeg'" width="100">
          {{ 'from' | translate | uppercase }}
          <p-sortIcon [field]="'dtBeg'"></p-sortIcon>
        </th>
        <th class="text-center" pResizableColumn [pSortableColumn]="'dtEnd'" width="100">
          {{ 'to' | translate | uppercase }}
          <p-sortIcon [field]="'dtEnd'"></p-sortIcon>
        </th>
        <th class="text-center" pResizableColumn>{{ 'object' | translate | uppercase }}</th>
        <th width="50"></th>
        <th width="50"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-us let-rowIndex="rowIndex">
      <tr [pSelectableRow]="us" class="pointer">
        <td class="text-right">{{ rowIndex + 1 }}</td>
        <td>{{ us.desc }}</td>
        <td class="text-center" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="date" class="form-control" name="dtBeg"
                [value]="us.dtBeg | date:'yyyy-MM-dd'" (input)="us.dtBeg=parseDate($event.target.value)">
            </ng-template>
            <ng-template pTemplate="output">{{ us.dtBeg | date:'dd.MM.yyyy' }}</ng-template>
          </p-cellEditor>
        </td>
        <td class="text-center" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input type="date" class="form-control" name="dtEnd"
                [value]="us.dtEnd | date:'yyyy-MM-dd'" (input)="us.dtEnd=parseDate($event.target.value)">
            </ng-template>
            <ng-template pTemplate="output">{{ us.dtEnd | date:'dd.MM.yyyy' }}</ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input" *ngIf="us.idService === 1">
              <select (change)="changeTrainer($event.target.value, us)">
                <option *ngFor="let r of trainers; let idx = index;"
                  [selected]="+r['created'] === +us.value" [value]="idx">
                    {{ r.surname + ' ' + r.name }}
                </option>
              </select>
            </ng-template>
            <ng-template pTemplate="output">{{ us['valueDesc'] }}</ng-template>
          </p-cellEditor>
        </td>
        <td class="text-center">
          <i class="fa fa-fw fa-save text-primary pointer" (click)="update(us)" [ngbTooltip]="'save' | translate | uppercase"
            [ngClass]="{'text-success': us['success'] && us['done'], 'text-danger': !us['success'] && us['done']}"></i>
        </td>
        <td class="text-center">
          <i class="fa fa-fw fa-trash text-danger pointer" (click)="remove(us)" [ngbTooltip]="'delete' | translate | uppercase"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
