<div class="modal-header rounded-top bg-info" *ngIf="service">
  <h4 class="modal-title">{{ service.name | titlecase }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-inline justify-content align-items-baseline" (ngSubmit)="f.form.valid && activeModal.close(true)" #f="ngForm">
    <label for="dtBeg" class="text-right pr-4 w-20 justify-content-end">
      <strong>{{ 'Since' | translate | titlecase }}:</strong>
    </label>
    <p-calendar class="mb-2 w-80" [(ngModel)]="dtBeg" name="dtBeg" dateFormat="dd.mm.yy" [inputStyle]="{ 'width':'7rem' }"></p-calendar>
    <label for="dtEnd" class="text-right pr-4 w-20 justify-content-end">
      <strong>{{ 'Till' | translate | titlecase }}:</strong>
    </label>
    <p-calendar class="mb-2 w-80" [(ngModel)]="dtEnd" name="dtEnd" dateFormat="dd.mm.yy" [inputStyle]="{ 'width':'7rem' }"></p-calendar>
    <label for="cash" class="text-right pr-4 w-20 justify-content-end">
      <strong>{{ 'Cash' | translate | titlecase }}:</strong>
    </label>
    <div class="d-inline w-80 mb-2">
      <input type="number" class="form-control" style="width: 7em!important;" [(ngModel)]="cash" name="cash" disabled required>
    </div>
    <sector51-combo class="d-inline-block w-100" *ngIf="service.id === 1" [items]="trainers" [itemToText]="trainerText" [itemToValue]="'created'"
      (onchange)="trainer = $event">
    </sector51-combo>

    <label class="d-inline-block text-right pr-4 w-20" *ngIf="service.id === 2" for="trainer">
      <strong>{{ 'box' | translate | titlecase }}:</strong>
    </label>
    <sector51-combo class="d-inline-block w-80" *ngIf="service.id === 2" [items]="boxes" [itemToText]="'number'" [itemToValue]="'number'"
      (onchange)="boxNumber = $event.number">
    </sector51-combo>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="activeModal.close(true)">
    {{ 'apply' | translate | titlecase }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">{{ 'cancel' | translate | titlecase }}</button>
</div>