<div class="modal-header rounded-top bg-info" *ngIf="service">
  <h4 class="modal-title">{{ service.name | titlecase }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-inline justify-content align-items-baseline" (ngSubmit)="f.form.valid && activeModal.close(true)" #f="ngForm">
    <label for="dtBeg" class="text-right pr-4 w-20 justify-content-end">
      <strong>{{ 'Since' | translate | titlecase }}:</strong>
    </label>
    <input type="date" class="form-control mb-2 w-80" name="dtBeg" [value]="dtBeg | date:'yyyy-MM-dd'"
            (input)="dtBeg=parseDate($event.target.value)">
    <label for="dtEnd" class="text-right pr-4 w-20 justify-content-end">
      <strong>{{ 'Till' | translate | titlecase }}:</strong>
    </label>
    <input type="date" class="form-control mb-2 w-80" name="dtEnd" [value]="dtEnd | date:'yyyy-MM-dd'"
            (input)="dtEnd=parseDate($event.target.value)">
    <label for="cash" class="text-right pr-4 w-20 justify-content-end">
      <strong>{{ 'Cash' | translate | titlecase }}:</strong>
    </label>
    <input type="number" class="form-control mb-2 w-80" [(ngModel)]="cash" name="cash" required>
    <div class="w-100 text-right">
      <button class="btn btn-danger mt-3" *ngIf="isUpdate" (click)="removeUserService();">
        {{ 'delete' | translate | uppercase }}
      </button>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="activeModal.close(true)">
    {{ 'apply' | translate | titlecase }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">{{ 'cancel' | translate | titlecase }}</button>
</div>
