<div class="modal-header rounded-top bg-info">
  <h4 class="modal-title">{{ header | translate | titlecase }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-inline justify-content align-items-baseline" (ngSubmit)="f.form.valid && activeModal.close(true)" #f="ngForm">
    <label for="name" class="text-right pr-2">
      <strong>{{ 'name' | translate | titlecase }}:</strong>
    </label>
    <input type="text" class="form-control mb-2" [prFocus]="focusPrice" name="name" [(ngModel)]="type.name" required>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="activeModal.close(true)">
    {{ 'apply' | translate | titlecase }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">{{ 'cancel' | translate | titlecase }}</button>
</div>
