<div>
  <h5 class="mt-2 text-center">{{ 'productsList' | translate | uppercase }}</h5>
  <hr>
  <table class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">{{ 'name' | translate | uppercase }}</th>
        <th class="text-center">{{ 'desc' | translate | uppercase }}</th>
        <th class="text-center">{{ 'count' | translate | uppercase }}</th>
        <th class="text-center">{{ 'price' | translate | uppercase }}</th>
        <th *ngIf="permissions"></th>
        <th *ngIf="permissions"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of products; let idx = index;">
        <th class="text-center">{{ idx + 1 }}</th>
        <td>{{ p.name }}</td>
        <td>{{ p.desc }}</td>
        <td [ngClass]="{ 'text-center': p.count === 0, 'text-right': p.count > 0 }">{{ p.count > 0 ? p.count : '-' }}</td>
        <td class="text-right pr-2">{{ p.price/100 | number:'0.2' }}</td>
        <td *ngIf="permissions" class="text-center text-warning" (click)="editProduct(p)">
          <i class="fa fa-edit"></i>
        </td>
        <td *ngIf="permissions" class="text-center text-danger" (click)="removeProduct(p)">
          <i class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>