
*.dll
*.exe
*.pdb
*.rar
sector51client/debug.log
./docker/pr/*.jar
sector51client/.vscode/tasks.json
docker/test/uninstall_scanner.bat
docker/test/settings.properties
docker/test/install.bat
docker/test/security.properties
