<div class="col-12 whole-window">
  <div class="col-md-6 col-sm-8">
    <h2 class="text-center mt-2 mb-4">{{'authentication' | translate | titlecase}}</h2>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
        <label class="font-weight-bold" for="username">{{lang['login'] | titlecase}}</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
        <span *ngIf="f.submitted && !username.valid" class="help-block un">Username is required</span>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label class="font-weight-bold" for="password">{{lang['password'] | titlecase}}</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
        <span *ngIf="f.submitted && !password.valid" class="help-block psw">Password is required</span>
      </div>
      <div class="form-group text-right">
        <button [disabled]="loading" class="btn btn-primary pl-3" [ngClass]="{'pr-2': error, 'pr-4': !error}">
          <i class="fa fa-fw fa-sign-in pr-4"></i>
          {{lang['enterLogin'] | titlecase}}
          <i *ngIf="loading" class="fa fa-spinner fa-spin fa-fw ml-2"></i>
        </button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
  </div>
</div>
