.whole-window {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
  width: 100%;
}

div.col-7 {
  border: 0.1rem solid #999;
  border-radius: 0.5rem;
}

.help-block {
  width:200px;
  color:white;
  background-color:gray;
}

.btn {
  margin-top:20px;
}
