.whole-window {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
  width: 100%;
}

div.col-md-6 {
  /*display: flex;*/
  border: 0.1rem solid #999;
  border-radius: 0.5rem;
}

.alert {
  width:200px;
  margin-top:20px;
  margin-bottom:20px;
}

.alert.alert-info {
  color:#607D8B;
}

.alert.alert-error {
  color:red;
}

.help-block {
  width:200px;
  color:white;
  background-color:gray;
}

.form-control {
  width: 200px;
  margin-bottom:10px;
}

.btn {
  margin-top:20px;
}