<form class="mt-3" *ngIf="roles" #userForm="ngForm" (ngSubmit)="validate(psw2) && userForm.valid && onSubmit(userForm.value)" novalidate>
  <div class="form-group row">
    <label for="login" class="col-3 col-form-label">Login</label>
    <div class="col-9">
      <input class="form-control" [ngClass]="{'ng-touched': userForm.submitted}" 
        type="text" value="" name="login" [(ngModel)]="user.login" pattern="[A-Za-z0-9]{1,10}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-3 col-form-label">Name</label>
    <div class="col-9">
      <input class="form-control"  [ngClass]="{'ng-touched': userForm.submitted}" 
        type="text" name="name" [(ngModel)]="user.name" pattern="[A-Za-z]{1,25}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="surname" class="col-3 col-form-label">SurName</label>
    <div class="col-9">
      <input class="form-control"  [ngClass]="{'ng-touched': userForm.submitted}" 
        type="search" name="surname" [(ngModel)]="user.surname" pattern="[A-Za-z]{1,25}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="phone" class="col-3 col-form-label">Telephone</label>
    <div class="col-9">
      <input class="form-control" [ngClass]="{'ng-touched': userForm.submitted}" 
        type="tel" name="phone" placeholder="+38(050) 662-25-56" 
        pattern="\+38[\(,\s]*[0-9]{3}[\),\s]{0,2}[0-9]{3}[-,\s]*[0-9]{2}[-,\s]*[0-9]{2}"  [(ngModel)]="user.phone" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-3 col-form-label">Email</label>
    <div class="col-9">
      <input class="form-control" [ngClass]="{'ng-touched': userForm.submitted}" 
        type="email" name="email" [(ngModel)]="user.email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-3 col-form-label">Password</label>
    <div class="col-9">
      <input class="form-control" [ngClass]="{'ng-touched': userForm.submitted}" 
        type="password" name="password" [(ngModel)]="user['password']" #psw="ngModel"  [required]="!user['created']">
    </div>
  </div>
  <div class="form-group row">
    <label for="password2" class="col-3 col-form-label">Password2</label>
    <div class="col-9">
      <input class="form-control" [ngClass]="{ 'ng-touched': userForm.submitted }" 
        type="password" name="password2" [(ngModel)]="user['password2']" #psw2="ngModel" [required]="!user['created']">
    </div>
    <div class="col-9" [hidden]="psw.untouched || psw2.untouched || (psw.value === psw2.value)">
      <small class="text-danger">Passwords aren't equal</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="card" class="col-3 col-form-label">Card</label>
    <div class="col-9">
      <input class="form-control" [ngClass]="{'ng-touched': userForm.submitted}" 
        type="number" value="42" name="card" [(ngModel)]="user.card" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3 col-form-label">Authorities</label>
    <div ngbDropdown class="d-inline-block" #dropAutorities="ngbDropdown">
      <i class="nav-item nav-link text-right" ngbDropdownToggle>{{this.user.authorities}}</i>
      <div class="dropdown-menu">
        <div class="form-check" *ngFor="let r of roles">
          <label class="form-check-label ml-2">
            <input class="form-check-input" type="checkbox" [checked]="this.user.authorities.indexOf(r.name) != -1"
              (change)="changeRole(r.name); dropAutorities.open();">
            <span class="mt-2">{{r.name | uppercase}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row buttons" [hidden]="!common.profile['permited']">
    <button class="btn btn-primary m-4" type="submit">OK</button>
  </div>
</form>
