#create-div {
  
}

form {
    max-width: 540px;
    border: 1px solid #292b2c;
}

.nav-item.nav-link:hover {
  cursor: pointer;
  background-color: #eee;
}

label { font-weight: 500; }

button.btn { width: 6rem; }
button.btn:hover { cursor: pointer; }

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-touched.ng-invalid:not(form),
.ng-dirty.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

div.dropdown-menu > div input:hover,
div.dropdown-menu > div span:hover,
label.form-check-label:hover {
  cursor: pointer;
  background-color: LightBlue;
}

.fa.position-absolute {
  margin-top: -1.4rem;
}
.fa.fa-fw:hover { cursor: pointer; }
