<div class="row m-0">
  <form class="mx-auto p-3 rounded align-self-center" *ngIf="allRoles && user" #userForm="ngForm" (ngSubmit)="validate(psw2) && userForm.valid && onSubmit(userForm.value)">
    <div class="form-group row pr-3">
      <label for="name" class="col-2 col-form-label">{{ 'user.name' | translate | titlecase }}</label>
      <input class="col-4 form-control" [ngClass]="{ 'ng-touched': userForm.submitted }" type="text" name="name" [(ngModel)]="user.name"
        pattern="[A-Za-z\u0400-\u04ff]{1,25}" required>

      <label for="surname" class="col-2 col-form-label">{{ 'user.surname' | translate | titlecase }}</label>
      <input class="col-4 form-control" [ngClass]="{ 'ng-touched': userForm.submitted }" type="text" name="surname" [(ngModel)]="user.surname"
        pattern="[A-Za-z\u0400-\u04ff]{1,25}" required>
    </div>
    <div class="form-group row pr-3">
      <label for="phone" class="col-2 col-form-label">{{ 'user.phone' | translate | titlecase }}</label>
      <input class="col-4 form-control" [ngClass]="{ 'ng-touched': userForm.submitted }" type="tel" name="phone" placeholder="+38(050) 662-25-56"
        [(ngModel)]="user.phone" pattern="^(?:\+|\(?\+38\)?|8)*[\(,\s]*[0-9]{3}[\),\s]{0,2}[0-9]{3}[-,\s]*[0-9]{2}[-,\s]*[0-9]{2}"
        required>

      <label for="card" class="col-2 col-form-label">{{ 'user.card' | translate | titlecase }}</label>
      <input class="col-4 form-control" [ngClass]="{'ng-touched': userForm.submitted}" type="text" name="card" [(ngModel)]="user.card"
        pattern="[0-9]{1,15}" [readOnly]="cardRedonly" [required]="isUser">
    </div>
    <div class="form-group row pr-3">
      <label for="email" class="col-4 col-form-label">E-mail</label>
      <input class="col-8 form-control" [ngClass]="{'ng-touched': userForm.submitted}" type="email" name="email" [(ngModel)]="user.email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [required]="isEmailRequired">
    </div>
    <div class="form-group row pr-3 mb-2">
      <label for="birthday" class="col-4 col-form-label">{{ 'user.birthday' | translate | titlecase }}</label>
      <p-calendar class="col-8 pl-0" [showIcon]="true" readonlyInput="true" [(ngModel)]="user.birthday" [yearNavigator]="true"
        yearRange="1950:2050" name="birthday" dateFormat="dd.mm.yy" [inputStyle]="{ 'width':'7rem' }"></p-calendar>
    </div>
    <div class="form-group row pr-3" *ngIf="showPassword">
      <label for="password" class="col-2 col-form-label">{{ 'password' | translate | titlecase }}</label>
      <input class="col-4 form-control" [ngClass]="{'ng-touched': userForm.submitted}" type="password" name="password" [(ngModel)]="user['password']"
        #psw="ngModel" [required]="created">

      <label for="password2" class="col-2 col-form-label">{{ 'password' | translate | titlecase }}2</label>
      <input class="col-4 form-control" [ngClass]="{ 'ng-touched': userForm.submitted }" type="password" name="password2" [(ngModel)]="user['password2']"
        #psw2="ngModel" [required]="created">
      <div class="col" [hidden]="(psw !== undefined && psw.untouched) || psw2.untouched || (user['password'] === user['password2'])">
        <small class="text-danger">{{ 'frmProfile.difPasswords' | translate }}</small>
      </div>
    </div>

    <div class="form-group row pr-3">
      <label class="col-2 col-form-label" *ngIf="!isFirst">{{ 'user.role' | translate | titlecase }}</label>
      <div class="col-4 p-0" *ngIf="!isFirst">
        <p-dropdown [style]="{'width': '100%'}" [options]="allRoles" [(ngModel)]="selectedAuthority" name="authority" optionLabel="name"
          (onChange)="user.authorities = $event.value.name"></p-dropdown>
      </div>

      <label class="col-2 col-form-label">{{ 'user.gender' | translate | titlecase }}</label>
      <div class="col-4 p-0">
        <p-dropdown [style]="{'width': '100%'}" [options]="genders" [(ngModel)]="selectedGender" name="gender" optionLabel="name"
          (onChange)="user.sex = selectedGender.value"></p-dropdown>
      </div>
    </div>
    <hr>
    <div class="form-group row justify-content-between mb-0" [hidden]="!usersNotExist && common.profile && !common.profile['permited']">
      <button class="btn btn-outline-danger ml-3" type="button" (click)="removeUser()">
        <i class="fa fa-fw fa-trash"></i>
        <span>{{ 'deleteUser' | translate | titlecase }}</span>
      </button>
      <button class="btn btn-outline-primary mr-3" type="submit">
        <span>{{ buttonText | translate | titlecase }}</span>
      </button>
    </div>
  </form>
</div>