<div class="modal-header rounded-top {{headerClass}}" [hidden]="!ready">
  <h4 class="modal-title">{{ header | translate | titlecase }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(0)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="ready">
  <form class="form-inline" [hidden]="isEdit">
    <label for="barcode" class="text-right">
      <strong>Type:</strong>
    </label>
    <div ngbDropdown class="d-inline-block mb-2">
      <i class="nav-item nav-link text-right rounded" ngbDropdownToggle *ngIf="product">
        <span class="pr-1">{{ product.name }}</span>
      </i>
      <div ngbDropdownMenu>
        <div class="form-check" *ngFor="let p of products">
          <label class="form-check-label ml-2 w-100" (click)="product=p">{{ p.name }}</label>
        </div>
      </div>
    </div>
  </form>
  <form class="form-inline" [hidden]="product.id !== 0 && !isEdit">
    <label for="name" class="text-right">
      <strong>{{ 'name' | translate | titlecase }}:</strong>
    </label>
    <input type="text" class="form-control mb-2 new-product" name="name" [(ngModel)]="newProduct.name"
      [prFocus]="focusName" required>
  </form>
  <form class="form-inline" [hidden]="product.id !== 0 && !isEdit">
    <label for="desc" class="text-right">
      <strong>{{ 'desc' | translate | titlecase }}:</strong>
    </label>
    <input type="text" class="form-control mb-2 new-product" name="desc" [(ngModel)]="newProduct.desc"
      [prFocus]="focusDesc" required>
  </form>
  <form class="form-inline" [hidden]="product.id !== 0 && !isEdit">
    <label for="count" class="text-right">
      <strong>{{ 'count' | translate | titlecase }}:</strong>
    </label>
    <input type="number" class="form-control mb-2 new-product" name="count" [(ngModel)]="newProduct.count" required>
  </form>
  <form class="form-inline" [hidden]="product.id !== 0 && !isEdit">
    <label for="price" class="text-right">
      <strong>{{ 'price' | translate | titlecase }}:</strong>
    </label>
    <input type="number" class="form-control mb-2 new-product" name="price" [(ngModel)]="newProduct.price"
      [prFocus]="focusPrice" min="0" max="10000" step="0.1" required>
  </form>
  <form class="form-inline">
    <label for="barcode" class="text-right">
      <strong>Barcode:</strong>
    </label>
    <input type="text" class="form-control" name="barcode" [value]="barcode" readonly>
  </form>
</div>
<div class="modal-footer" [hidden]="!ready">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">
    {{ btOk | translate | titlecase }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss(0)">
    {{ 'cancel' | translate | titlecase }}
  </button>
</div>