.form-inline { align-items: baseline; }
.form-inline > label { justify-content: flex-end; }
.form-inline:last-child > input { width: 30%; height: 2.5rem; }
.form-inline > button { background-color: transparent; height: 2.5rem; }

.dropdown-menu {
  max-height: 10rem;
  overflow-y: auto;
  width: 80%;
}

div[ngbdropdown] > i {
  background-color: rgb(236, 238, 239);
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 2.5rem;
}

div.form-check:hover { background-color: rgb(236, 238, 239); }
div.form-check > label:hover,
div[ngbdropdown] > i:hover { cursor: pointer; }

div.dropdown-menu {
  overflow: hidden;
  width: 75%;
}

button.nav-item > span {
  font-style: normal;
  text-align: center;
  display: inline-block;
}

button.btn { min-width: 8rem; }

form.barcode { align-items: center; }

div.justify-content-end { display: flex; }

label { font-size: 0.9rem; }
input { font-size: 0.8rem; }
