<div class="mt-3" (window:resize)="wWidth = $event.target.innerWidth">
  <div class="d-inline-block test">
    <label for="recipient"></label>
    <input type="text" name="recipient" [(ngModel)]="letter.recipient">
    <label for="title"></label>
    <input type="text" name="title" [(ngModel)]="letter.title">
    <label for="body"></label>
    <input type="text" name="body" [(ngModel)]="letter.body">
    <button (click)="sendEmail()">SendEmail</button>
  </div>
  <div class="d-inline-block bg-faded p-2" *ngIf="user && permissions">
    <a [routerLink]="['/registration', user['created']]" class="card-link text-info">
      {{ 'properties' | translate | titlecase }}
    </a>
    <button class="btn btn-danger ml-4" (click)="removeUser(user['created'])">
      {{ 'delete' | translate | uppercase }}
    </button>
  </div>
  <hr>
  <split [direction]="wWidth > 540 ? 'horizontal' : 'vertical'" gutterSize="3" (dragEnd)="onDragEnd(0, $event)" *ngIf="sizeValue">
    <split-area [size]="sizeValue[0]" [ngClass]="{'pr-1 pb-0': wWidth > 540, 'pr-0 pb-1': wWidth<=540}">
      <div class="rounded mt-0">
        <ul class="list-group">
          <li class="list-group-item p-2" *ngFor="let u of common.users" [ngClass]="{'bg-info': u['created'] === selectedUserId}"
            (click)="changeQueryParam('user', u['created'])">
            <a href="javascript:void(0);" [ngClass]="{'text-danger': u.active && u['created'] !== selectedUserId, 'text-white': u['created'] === selectedUserId}">
              {{ u.surname + ' ' + u.name }}
            </a>
          </li>
        </ul>
      </div>
    </split-area>

    <split-area [size]="sizeValue[1]" [ngClass]="{ 'pl-1 pt-0': wWidth > 540, 'pl-0 pt-1': wWidth <= 540 }">
      <table class="table table-sm table-striped table-bordered">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">{{ 'surname' | translate | uppercase }}</th>
              <th class="text-center">{{ 'name' | translate | uppercase }}</th>
              <th class="text-center">{{ 'box' | translate | uppercase }}</th>
              <th class="text-center">{{ 'time' | translate | uppercase }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of activeUsers; let idx = index;">
              <th class="text-center">{{ idx + 1 }}</th>
              <td>{{ u.surname }}</td>
              <td>{{ u.name }}</td>
              <td>{{ u['box'] }}</td>
              <td>{{ u['time'] | date:'HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
    </split-area>
  </split>
</div>
