<div class="mt-3" (window:resize)="wWidth = $event.target.innerWidth">
  <hr>
  <split [direction]="wWidth > 540 ? 'horizontal' : 'vertical'" gutterSize="3" (dragEnd)="onDragEnd(0, $event)" *ngIf="sizeValue">
    <split-area [size]="sizeValue[0]" [ngClass]="{'pr-1 pb-0': wWidth > 540, 'pr-0 pb-1': wWidth<=540}">
      <div class="rounded mt-0 h-100">
        <div class="input-group mt-1 mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text pointer" (click)="goToKeys()">
              <i class="fa fa-fw fa-search"></i>
            </span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="search">
        </div>
        <ul class="list-group">
          <li #liuser class="list-group-item p-2 pointer" *ngFor="let u of users | sortusers" [ngClass]="{'bg-info': u['created'] === selectedUserId}"
            (click)="changeQueryParam('user', u['created'])">
            <a href="javascript:void(0);" [ngClass]="{'text-danger': u.active && u['created'] !== selectedUserId, 'text-white': u['created'] === selectedUserId}">
              {{ u.surname + ' ' + u.name }}
            </a>
            <p-contextMenu *ngIf="u['created'] === selectedUserId" [target]="liuser" appendTo="body" [model]="contextItems"></p-contextMenu>
          </li>
        </ul>
      </div>
    </split-area>

    <split-area [size]="sizeValue[1]" [ngClass]="{ 'pl-1 pt-0': wWidth > 540, 'pl-0 pt-1': wWidth <= 540 }">
      <p-tabView [activeIndex]="0">
        <p-tabPanel [header]="'activeUsers' | translate | titlecase">
          <div>
            <p-table [value]="activeUsers" [resizableColumns]="true" selectionMode="single" [(selection)]="activeUsers[selectedUserId]"
              sortMode="multiple">
              <ng-template pTemplate="header">
                <tr>
                  <th class="text-center" width="50">№</th>
                  <th class="text-center" [pSortableColumn]="'time'" width="75">
                    {{ 'time' | translate | uppercase }}
                    <p-sortIcon [field]="'time'"></p-sortIcon>
                  </th>
                  <th class="text-center" pResizableColumn>{{ 'user.surname' | translate | uppercase }}</th>
                  <th class="text-center" pResizableColumn>{{ 'user.name' | translate | uppercase }}</th>
                  <th class="text-center" pResizableColumn width="60">{{ 'box' | translate | uppercase }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-u let-rowIndex="rowIndex">
                <tr [pSelectableRow]="u" [ngClass]="{ 'bg-danger': u['isFinish'], 'text-white': u['isFinish'] }">
                  <td class="text-right">{{ rowIndex + 1 }}</td>
                  <td class="text-center">{{ u['time'] | date:'HH:mm' }}</td>
                  <td>{{ u.surname }}</td>
                  <td>{{ u.name }}</td>
                  <td class="text-right">{{ u['box'] }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
        <p-tabPanel [header]="'services' | translate | titlecase">
          <sector51-user-services [user]="user"></sector51-user-services>
        </p-tabPanel>
        <p-tabPanel [header]="'properties' | translate | titlecase">
          <div class="pt-5">
            <sector51-create-user [profile]="user" (removeUser)="onUserRemove($event)"></sector51-create-user>
          </div>
        </p-tabPanel>
      </p-tabView>

    </split-area>
  </split>
</div>