div.mt-3 {
  height: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  min-height: calc(100% - 1rem);
}

split {
  max-height: calc(100% - 1.5rem);
  min-height: calc(100% - 1.5rem);
}

div.rounded, .card { height: 100%; }
div.rounded { border: 1px solid rgba(0,0,0,.125); }

div.bg-faded {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 1.25;
  text-align: center;
}

@media (max-width: 750px) {
  .test { display: none !important; }
}
