<div class="mt-2" *ngIf="user">
  <div class="mt-2 d-flex justify-content-center">
    {{user.login | uppercase}}
  </div>
  <hr>
  <div class="mt-2">
    <!-- <div class="form-check" *ngFor="let p of permissions">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [checked]="userPermissions.includes(p.id)"
          (change)="changePermission(p, $event)">
        <span class="mt-2">{{p.name | uppercase}}</span>
      </label>
    </div> -->
  </div>
  <div class="mt-4">
    <button class="btn btn-primary">OK</button>
  </div>
</div>
