<div id="cart-div" class="pb-2">
  <h5 class="mt-2 text-center">{{ 'productsList' | translate | uppercase }}</h5>
  <hr>
  <table class="table table-sm table-striped table-bordered mb-0" [hidden]="products.length === 0">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">{{ 'name' | translate | uppercase }}</th>
        <th class="text-center hidden-sm-down">{{ 'desc' | translate | uppercase }}</th>
        <th class="text-center">{{ 'count' | translate | uppercase }}</th>
        <th class="text-center">{{ 'price' | translate | uppercase }}</th>
      </tr>
    </thead>
  </table>
  <div>
    <table class="table table-sm table-striped table-bordered mb-0" [hidden]="products.length === 0">
      <tbody>
        <tr *ngFor="let p of products; let idx = index;">
          <th class="text-center">{{ idx + 1 }}</th>
          <td>{{ p.name }}</td>
          <td class="hidden-sm-down">{{ p.desc }}</td>
          <td [ngClass]="{ 'text-center': p.count === 0, 'text-right': p.count > 0 }">{{ p.count > 0 ? p.count : '-' }}</td>
          <td class="text-right pr-2">{{ p.count * p.price/100 | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-sm table-striped table-bordered mb-0" [hidden]="products.length === 0">
    <tfoot>
      <tr>
        <td colspan="4"></td>
        <td class="text-right">
          <strong>{{ sum | number: '1.2-2' }}</strong>
        </td>
      </tr>
    </tfoot>
  </table>

  <form class="w-100" (ngSubmit)="f.form.valid && pay()" #f="ngForm">
    <hr [hidden]="products.length === 0">
    <table class="table table-sm table-striped table-bordered">
      <tbody *ngIf="user">
        <tr>
          <td class="text-center"><i class="fa fa-fw fa-user"></i></td>
          <td>{{ user.desc }}</td>
          <td>{{ user.name }}</td>
          <td class="hidden-sm-down">
            <input type="number" class="form-control" [hidden]="enaughtMony && cash === 0"
              name="cash" [(ngModel)]="cash" min="0">
          </td>
          <td class="text-right pr-2 hidden-sm-down">{{ payFormula }}</td>
        </tr>
        <tr class="visible-sm-down">
          <td>
            <input type="number" class="form-control" [hidden]="enaughtMony && cash === 0"
              name="cash" [(ngModel)]="cash" min="0">
          </td>
          <td class="text-right pr-2" colspan="2">{{ payFormula }}</td>
        </tr>
      </tbody>
    </table>
    <hr [hidden]="!user">

    <div class="text-right">
      <button class="btn btn-primary" [disabled]="!enaughtMony">{{ 'pay' | translate | uppercase }}</button>
      <button class="btn btn-danger">{{ 'clear' | translate | uppercase }}</button>
    </div>
  </form>
</div>
