<div id="cart-div" class="pb-2">
  <h5 class="mt-2 text-center">{{ 'productsList' | translate | uppercase }}</h5>
  <hr>
  <table class="table table-sm table-striped table-bordered mb-0" [hidden]="products.length === 0">
    <thead>
      <tr>
        <th class="text-center icon">#</th>
        <th class="text-center capt">{{ 'name' | translate | uppercase }}</th>
        <th class="text-center hidden-sm-down capt">{{ 'desc' | translate | uppercase }}</th>
        <th class="text-center count">{{ 'count' | translate | uppercase }}</th>
        <th class="text-center count">{{ 'price' | translate | uppercase }}</th>
        <th class="text-center icon"></th>
      </tr>
    </thead>
  </table>
  <div>
    <table class="table table-sm table-striped table-bordered mb-0" [hidden]="products.length === 0">
      <tbody>
        <tr *ngFor="let p of products; let idx = index;">
          <th class="text-center icon">{{ idx + 1 }}</th>
          <td class="pl-2 capt">{{ p.name }}</td>
          <td class="hidden-sm-down capt">{{ p.desc }}</td>
          <td class="text-right count pr-2" [ngClass]="{ 'text-center': p.count === 0, 'text-right': p.count > 0 }">
            {{ p.count > 0 ? p.count : '-' }}
          </td>
          <td class="text-right count pr-2">{{ p.count * p.price / 100 | number:'1.2-2' }}</td>
          <td class="text-center icon" (click)="removeProduct(p)">
            <i class="fa fa-fw fa-trash text-danger"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <table class="table table-sm table-striped table-bordered mb-0" [hidden]="products.length === 0">
    <tfoot>
      <tr>
        <td class="text-right">
          <strong>{{ sum | number: '1.2-2' }}</strong>
        </td>
      </tr>
    </tfoot>
  </table>

  <form class="w-100" (ngSubmit)="f.form.valid && pay()" #f="ngForm">
    <hr [hidden]="products.length === 0">
    <table class="table table-sm table-striped table-bordered">
      <tbody *ngIf="user">
        <tr>
          <td class="text-center" style="width: 6rem;"><i class="fa fa-fw fa-user"></i></td>
          <td>{{ user.desc }}</td>
          <td>{{ user.name }}</td>
          <td class="hidden-sm-down">
            <input type="number" class="form-control" name="cash" [(ngModel)]="cash" min="0">
          </td>
          <td class="text-right pr-2 hidden-sm-down" *ngIf="sum > 0">{{ payFormula }}</td>
        </tr>
        <tr class="visible-sm-down">
          <td>
            <input type="number" class="form-control" name="cash" [(ngModel)]="cash" min="0">
          </td>
          <td class="text-right pr-2" colspan="2" *ngIf="sum > 0">{{ payFormula }}</td>
        </tr>
      </tbody>
    </table>
    <hr [hidden]="!user">

    <div class="text-right">
      <button type="submit" class="btn btn-primary" [disabled]="!enaughtMony" name="submit">
        {{ 'pay' | translate | uppercase }}
      </button>
      <button class="btn btn-danger" (click)="clear()" name="cancel">
        {{ 'clear' | translate | uppercase }}
      </button>
    </div>
  </form>
</div>
