.btn { min-width: 10rem; }
.btn[disabled]:hover {
  cursor: default;
}

#cart-div {
  min-height: calc(100% - 1rem);
  height: calc(100% - 1rem);
  max-height: calc(100% - 1rem);
  position: relative;
}

#cart-div > div:first-child {
  max-height: calc(100% - 16rem);
  overflow: auto;
}

.icon { width: 2.5rem; }
.icon:hover { cursor: pointer; }
.count { width: 4rem; }
.capt { width: calc(50% - 10rem); }

thead { font-size: 0.9rem; }

table { table-layout:fixed; }
form > table { font-weight: bold; }
form > table td { vertical-align: middle; }
form > table td > input { max-width: 6rem; margin-right: -3rem; }
.visible-sm-down { display: none; }

@media (max-width: 576px) {
  .hidden-sm-down { display: none; }
  form > table td > input { max-width: 5rem; margin-right: -1.5rem; }
  .visible-sm-down { display: table-row; }
}
