<div id="login" class="border rounded">
  <header class="text-center">
    <h5 [innerHTML]="translation.login.auth | uppercase" class="bold"></h5>
    <hr>
  </header>

  <div class="form-inline">
    <label class="my-0 mr-2" for="login-name" [innerHTML]="translation.login.login | titlecase"></label>
    <input type="text" class="form-control" id="login-name" [(ngModel)]="name" autocomplete="off">
  </div>
  <br>

  <div class="form-inline">
    <label class="my-0 mr-2" for="login-password" [innerHTML]="translation.login.password | titlecase"></label>
    <input type="text" class="form-control" id="login-password" [(ngModel)]="password">
  </div>
  <hr>

  <footer class="between-center align-items-baseline">
    <div class="text-center">
      <button pTooltip="Not implement yet" class="btn btn-success" (click)="login()"
        [innerHTML]="translation.login.signup | uppercase"></button><br>
      <a href="javascript:void(0)" [innerHTML]="translation.login.forgot | titlecase" pTooltip="Not implement yet"
        tooltipPosition="bottom"></a>
    </div>
    <button pTooltip="Not implement yet" class="btn btn-primary" (click)="login()"
      [innerHTML]="translation.login.login | uppercase"></button>
  </footer>
</div>