<nav class="navbar navbar-toggleable navbar-light p-1 pl-2 pr-2">
  <div class="collapse navbar-collapse show">
    <div class="navbar-nav">
      <div ngbDropdown class="d-inline-block mr-4 user" *ngIf="permissions">
        <i class="nav-item nav-link" ngbDropdownToggle>{{ 'account' | translate | uppercase }}</i>
        <div ngbDropdownMenu>
          <a routerLink="/registration" class="dropdown-item fa fa-fw fa-user-plus">{{ 'addUser' | translate | titlecase }}</a>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block mr-4">
        <i class="nav-item nav-link " ngbDropdownToggle>{{ 'products' | translate | uppercase }}</i>
        <div ngbDropdownMenu>
          <a routerLink="/products" class="dropdown-item fa fa-fw fa-list">{{ 'productsList' | translate | titlecase }}</a>
          <button class="dropdown-item fa fa-fw fa-plus-square" (click)="createProduct()" *ngIf="permissions">
            {{ 'create' | translate | titlecase }}
          </button>
          <a routerLink="/cart" class="dropdown-item fa fa-fw fa-shopping-cart" *ngIf="permissions">
            {{ 'cart' | translate | titlecase }}
          </a>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block mr-4">
        <i class="nav-item nav-link" ngbDropdownToggle>{{ 'settings' | translate | uppercase }}</i>
        <div ngbDropdownMenu>
          <a routerLink="/boxes" class="dropdown-item fa fa-fw fa-inbox" *ngIf="permissions">
            {{ 'boxes' | translate | titlecase }}
          </a>
          <a routerLink="/services" class="dropdown-item fa fa-fw fa-cogs">{{ 'services' | translate | titlecase }}</a>
          <a routerLink="/import" class="dropdown-item fa fa-fw fa-file-excel-o">{{ 'import' | translate | titlecase }}</a>
          <a routerLink="/export" class="dropdown-item fa fa-fw fa-file-excel-o">{{ 'export' | translate | titlecase }}</a>
          <a *ngIf="isOwner" routerLink="/notifications" class="dropdown-item fa fa-fw fa-bell">{{ 'notifications' | translate | titlecase }}</a>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block mr-4">
        <i class="nav-item nav-link" ngbDropdownToggle>{{ 'reports' | translate | uppercase }}</i>
        <div ngbDropdownMenu>
          <a routerLink="/main-report" class="dropdown-item fa fa-fw fa-file">{{ 'main-report' | translate | titlecase }}</a>
        </div>
      </div>
    </div>
  </div>
</nav>