<nav id="menu" class="navbar navbar-toggleable navbar-light p-1 pl-2 pr-2">
  <div class="collapse navbar-collapse show">
    <div class="navbar-nav">
      <div ngbDropdown class="d-inline-block">
        <i class="nav-item nav-link " ngbDropdownToggle>Menu-1</i>
        <div class="dropdown-menu">
          <a routerLink="/registration" class="dropdown-item">Registration</a>
          <button class="dropdown-item">Action - 1.2</button>
          <button class="dropdown-item">Action - 1.3</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <i class="nav-item nav-link " ngbDropdownToggle>Menu-2</i>
        <div class="dropdown-menu">
          <button class="dropdown-item">Action - 2.1</button>
          <button class="dropdown-item">Action - 2.2</button>
          <button class="dropdown-item">Action - 2.3</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <i class="nav-item nav-link" ngbDropdownToggle>Menu-3</i>
        <div class="dropdown-menu">
          <button class="dropdown-item">Action - 3.1</button>
          <button class="dropdown-item">Action - 3.2</button>
          <button class="dropdown-item">Action - 3.3</button>
        </div>
      </div>
    </div>
  </div>
</nav>
